body {
  display: flex;
  margin: 0;
  padding: 0;
  color: #5e5e5e;
  font-family: 'Nunito', sans-serif;
  text-underline-offset: 4px;
}

h1 {
  color: black;
  font-weight: 500;
  font-size: large;
}

.menu {
  width: 200px;
  height: 100vh;
  float: left;
  color: #959595;
}

.menu h1 {
  padding: 20px;
  margin: 0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.gallery {
  margin-left: 200px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  Justify-content: space-around;
}

.gallery img {
  aspect-ratio: 1;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}
.slider {
  /* height: inherit; */
  width: 55vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.75s;
}
.slider-image {
  Max-height: 80vh;
  max-width: calc(55vw - 100px);
  width: inherit;
  object-fit: contain;
  transition: 1s;
  margin: auto;
  padding: 50px;
}
.btn-chevron {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  z-index: 999;
  color: #feb0b0;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 1s;
}
.left {
  left: -0.9rem;
}
.right {
  right: -0.9rem;
}
i {
  background: #feb0b0;
}

.content {
  margin: auto;
  overflow: hidden;
  width: calc(55vw);
  position: relative;
  flex-direction: row;
  align-items: center;
  transition: 1s;
}

.arrow-content {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: 1s;
  margin: auto 0;
}

.real-arrow-content {
  width: 60vw;
  position: relative;
  transition: 1s;
  margin-left: calc(20vw - 200px);
}

.image-wrap {
  width: 55vw;
}

footer {
  color: black;
  font-size: small;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 1s;
}
#instagram {
  position: absolute;
  top: 20px;
  right: 50px;
  
}

.fl-rich-text {
  margin: 0px auto;
  width: 60%;
}

a { text-decoration: none; color:rgb(0, 0, 0); }
a:visited { text-decoration: none; color:rgb(0, 0, 0); }
a:hover { text-decoration: underline; text-decoration-style: wavy; color:rgb(0, 0, 0); text-decoration-color: #feb0b0; }
a:focus { text-decoration: none; color:rgb(0, 0, 0); }
a:active { text-decoration: none; color:black }

a::selection {
    color: #000000;
    background: #e7e6e6;
    text-shadow: none;
}

.selected-album {
  font-style: italic;
  color: #feb0b0;
}