body {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #5e5e5e;
  font-family: "Nunito", sans-serif;
  /* text-underline-offset: 4px; */
  border-width: 4px;
  border-color: #000000;
}

h1 {
  color: black;
  font-weight: 500;
  font-size: large;
}

.menu {
  /* width: 200px; */
  z-index: 2;
  height: 100vh;
  float: left;
  color: #959595;
  position: absolute;
}

.menu h1 {
  padding: 20px;
  margin: 0;
}
.menu hidden-mobile {
  width: auto;
  position: absolute;
}

.menu ul {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.slider {
  height: inherit;
  width: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.75s;

  transform: translateX(-10px);
}
.slider-image {
  max-height: 70vh;
  max-width: calc(70vw);
  width: inherit;
  object-fit: contain;
  transition: 1s;
  /* margin: auto; */
  /* padding: 50px; */
}
.btn-chevron {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  z-index: 999;
  color: #feb0b0;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 1s;
}
.left {
  /* left: -0.9rem; */
}
.right {
  /* right: -0.9rem; */
}
i {
  background: #feb0b0;
}
.bx-chevron-left {
  cursor: pointer;
  margin-left: -50px;
  font-size: x-large;
  position: absolute;
  top: 50%;
}

.bx-chevron-right {
  cursor: pointer;
  margin-right: -50px;
  font-size: x-large;
  position: absolute;
  right: 0;
  top: 50%;
}

.mobile-arrow {
  /* position: absolute; */
  /* background-color: #000000; */
  /* opacity: 0; */
  background-color: transparent;
  width: 50%;
  height: 100%;
  z-index: 2;
}

.content {
  /* display: flex; */
  /* margin: auto; */
  overflow: hidden;
  width: calc(70vw);
  position: relative;
  flex-direction: row;
  /* margin-top: 10vh; */
  align-items: center;
  transition: 1s;
}

.arrow-content {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: row; */
  position: relative;
  /* transition: 1s; */
  /* top: 20vh; */
  margin: auto;
  /* margin-top: 30vh;
  margin-top: 30vh;
  margin-top: 30vh;
  margin-top: 10vh; */
}

.real-arrow-content {
  width: 100vw;
  position: relative;
  transition: 1s;
  margin: auto;
}

.image-wrap {
  width: 80vw;
  padding-left: 10px;
  padding-right: 10px;
}
.containerik {
  display: flex;
  flex-direction: column;
  margin: auto;
}

footer {
  color: black;
  font-size: small;
  /* position: absolute; */
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
  transition: 1s;
}
#instagram {
  position: absolute;
  top: 20px;
  right: 50px;
}

.fl-rich-text {
  margin: 0px auto;
  width: 60%;
  margin-bottom: 10vh;
}

.invisible {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  color: rgb(0, 0, 0);
  text-decoration-color: #feb0b0;
}
a:focus {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:active {
  text-decoration: none;
  color: black;
}

a::selection {
  color: #000000;
  background: #e7e6e6;
  text-shadow: none;
}

.selected-album {
  font-style: italic;
  color: #feb0b0;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
  .containerik {
    display: flex;
    flex-direction: column;
  }
  #insta {
    position: absolute;
    top: 20px;
    left: 50px;
    margin: 0 0;
    color: #feb0b0;
  }
  #instagram {
    text-decoration: underline;
  }
  .mobile-only {
    display: flex;
  }
  .project-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu .mobile-only {
    /* position: relative; */
    /* max-height: 10vh; */
    display: flex;
    margin-left: auto;
    align-items: center;

    margin-top: 6vh;
  }
  .menu {
    margin-top: 5vh;
    width: 100%;
    height: 10vh;
    position: relative;
  }
  .menu li {
    font-size: x-small;
    padding: 0px;
    cursor: pointer;
  }
  .content {
    width: calc(95vw);
    min-height: 60vh;
    display: flex;
  }
  .image-wrap {
    width: 95vw;
  }
  .slider-image {
    width: 95vw;
    max-width: 95vw;
  }
  .slider {
    width: 95vw;
    align-self: center;
  }
  .menu ul {
    list-style-type: none;
    padding: 0vh 4vw;
    align-items: center;
    margin: auto;
    width: 100%;
    max-height: 5vh;
    justify-content: space-around;
  }

  body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  /* .image-wrap {
    width: 90vw;
  } */
}

@media (min-width: 640px) {
  .real-arrow-content {
    margin-left: calc(20vw - 200px);
  }
}

.row {
  display: flex;
  flex-direction: row;
}
